@import url('../../style/assets/_keyframes.scss');

.background {
    background-image: url('../../style/assets/home-background.webp');
    background-size: cover; /* Couvre toute la zone disponible */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* Fixe l'image de fond */
    width: 100%; /* S'étend sur toute la largeur */
    min-height: 100vh; /* S'étend sur toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
}

.home {
    padding: 80px 20px;
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 80px;
        animation: fadeInLeft 800ms ease-in-out forwards;

        &-text {
            width: 80%;
            margin-left: 40px;
            font-size: 22px;
            
            h1 {
                font-size: 38px;
                font-family: 'Playfair Display', serif;
            }
        }
        &-img {
            width: 350px;
        }
        &-button {
            display: inline-block;
            margin-top: 20px;
            border-radius: 30px;
            width: 200px;
            height: 40px;
            font-weight: 700;
            font-size: 20px;
            border: none;
            background-color: white;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            cursor: pointer;
            padding: 5px;
            &:visited {
                color: black;
            }
            &:hover {
                background-color: #5ba5f4;
            }
        }
        &-icon {
            margin-left: 15px;
        }
    }

    &_buy {
        background-color: #003366;
        display: flex;
        padding: 40px 80px;
        overflow: hidden;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: end;
            animation: fadeInRight 800ms ease-in-out forwards;
            animation-delay: 500ms;
            visibility: hidden;
        }
        &-title {
            color: #fff;
            text-align: end;
            font-family: 'Playfair Display', serif;
            font-size: 36px;
        }
        &-text {
            color: #898989;
            text-align: end;
            font-size: 24px;
        }
        &-img {
            width: 350px;
            border: 5px solid white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
            margin-left: 30px;
            animation: fadeInRight 800ms ease-in-out forwards;
            animation-delay: 500ms;
            visibility: hidden;
        }
        &-button {
            display: inline-block;
            margin-top: 20px;
            border-radius: 30px;
            width: 300px;
            height: 40px;
            font-weight: 700;
            font-size: 20px;
            border: none;
            background-color: white;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            cursor: pointer;
            padding: 5px;
            &:visited {
                color: black;
            }
            &:hover {
                background-color: #5ba5f4;
            }
        }
        &-icon {
            margin-left: 15px;
        }
    }

    &_taste {
        display: flex;
        flex-direction: row-reverse;
        padding: 40px 80px;
        background: rgba(255, 255, 255, 0.55);
        overflow: hidden;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            animation: fadeInLeft 1s ease-in-out forwards;
            animation-delay: 1s;
            visibility: hidden;
        }
        &-title {
            font-family: 'Playfair Display', serif;
            font-size: 36px;
            margin-bottom: 0px;
        }
        &-text {
            color: #656464;
            font-size: 24px;
        }
        &-img {
            width: 350px;
            border: 5px solid white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
            margin-right: 30px;
            animation: fadeInLeft 1s ease-in-out forwards;
            animation-delay: 1s;
            visibility: hidden;
        }
        &-button {
            display: inline-block;
            margin-top: 20px;
            border-radius: 30px;
            width: 200px;
            height: 40px;
            font-weight: 700;
            font-size: 20px;
            background-color: white;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            cursor: pointer;
            padding: 5px;
            &:visited {
                color: rgba(0, 0, 0, 0.516);
            }
            &:hover {
                background-color: #5ba5f4;
            }
        }
        &-icon {
            margin-left: 15px;
        }
    }

    &_contact {
        background-color: #003366;
        display: flex;
        padding: 40px 80px;
        overflow: hidden;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: end;
            animation: fadeInRight 800ms ease-in-out forwards;
            animation-delay: 1500ms;
            visibility: hidden;
        }
        &-title {
            color: #fff;
            text-align: end;
            font-family: 'Playfair Display', serif;
            font-size: 36px;
            margin-bottom: 0px;
        }
        &-text {
            color: #898989;
            text-align: end;
            font-size: 24px;
        }
        &-img {
            width: 350px;
            border: 5px solid white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
            margin-left: 30px;
            animation: fadeInRight 800ms ease-in-out forwards;
            animation-delay: 1500ms;
            visibility: hidden;
        }
        &-button {
            display: inline-block;
            margin-top: 20px;
            border-radius: 30px;
            width: 250px;
            height: 40px;
            font-weight: 700;
            font-size: 20px;
            border: none;
            background-color: white;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            cursor: pointer;
            padding: 5px;
            &:visited {
                color: black;
            }
            &:hover {
                background-color: #5ba5f4;
            }
        }
        &-icon {
            margin-left: 15px;
        }
        &-map {
            margin-left: 30px;
            animation: fadeInRight 800ms ease-in-out forwards;
            animation-delay: 1500ms;
            visibility: hidden;
        }
    }
}


// version mobile : 

@media (max-width: 768px) {
    .home {
        padding: 10px;
        &_title {
            flex-direction: column;
            padding: 10px ;
            &-img {
                width: 30%;
            }
            &-text {
                margin-left: 0px;
                font-size: 16px;
                width: 100%;
                text-align: center;
                
                h1 {
                    font-size: 26px;
                }
            }
            &-button {
                font-size: 16px;
            }
        }
        &_buy {
            flex-direction: column-reverse;
            padding: 10px;
            align-items: center;
            &-title {
                font-size: 26px;
                text-align: center;
                margin-bottom: 0px;
            }
            &-text {
                font-size: 16px;
                text-align: center; 
            }
            &-button {
                order: 3;
                margin-bottom: 10px;
                font-size: 16px;
            }
            &-container {
                align-items: center;
            }
            &-img {
                width: 70%;
            }

        }
        &_taste {
            flex-direction: column-reverse;
            padding: 10px;
            align-items: center;
            &-img {
                width: 70%;
            }
            &-container {
                text-align: center;
                align-items: center;
            }
            &-title {
                font-size: 26px;
                text-align: center;
            }
            &-text {
                font-size: 16px;
            }
            &-button {
                order: 3;
                margin-top: 0px;
                font-size: 16px;
            }

        }
        &_contact {
            flex-direction: column-reverse;
            padding: 10px;
            &-container {
                align-items: center;
            }
            &-title {
                text-align: center;
                font-size: 26px;
            }
            &-text {
                text-align: center;
                font-size: 16px;
            }
            &-button {
                font-size: 16px;
            }
            &-map {
            }
            &-mapelement {
                width: 90%;
                height: 300px;
            }



        }
    }
}