@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-250px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(250px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }